.spacer_25 {height: 25px;}
.spacer_50 {height: 50px;}
.spacer_100 {height: 100px;}
.roluri > tr:hover td {background-color: #ddd;cursor: hand;}
.site-header img {width: 100%;}
.top_nav {margin-bottom: 0px;}

/* pax */

.navbar.navbar-inverse {border-top-left-radius: 0; border-top-right-radius: 0; border-top: 1px solid #999}
#mainPanel {background-color: WhiteSmoke;  }
#mainPanel .panel-heading h3 {font-weight: normal; font-size: 1.2em; opacity: 0.8  ; }
#mainPanel .panel-body {padding: 1.5em}
#mainPanel .panel-body img {max-width: 10em !important;  margin-right: 2em; display: none;}
#mainPanel ul.nav-tabs {font-size: 1.2em;}
.panel-body h3 {margin:0.5em 0; }
#mainPanel ul.nav-tabs li:active a {}
#mainPanel p {font-size: 1.1em;}
#mainPanel .tab-content {border:1px solid #DDD; border-top: 1px solid transparent; padding: 0 1em;  background-color: White }
#selectTitle {margin: 1em 0; padding: 1ex; font-weight: normal;}

.cols2{-webkit-column-count:2;-moz-column-count:2;column-count:2;-webkit-column-gap:2.5em;-moz-column-gap:2.5em;column-gap:2.5em;} 
.cols2 p{break-inside:avoid-column;-webkit-column-break-inside:avoid;page-break-inside:avoid;}
/* pax end */

.navbar {
	background-color: #444444 !important;
}
.container .panel {
	padding: 0;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.ajax {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .ajax {
    display: block;
}

.roluri-link {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
