.spacer_25 {
	height: 25px;
}

.spacer_50 {
	height: 50px;
}

.spacer_100 {
	height: 100px;
}

.roluri > tr:hover td {
	background-color: #ddd;
	cursor: hand;
}

.site-header img {
	width: 100%;
}

.top_nav {
	margin-bottom: 0px;
}

h1 {
	 font-size: 2em;
    line-height: 1.375;
    margin: 1em 0 1.5em;
    color: #840201;
    background-color: #EFE5E5;
    padding: 0.5em;
}
